---

---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/bhsc.css">
        <script src="../js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="header">{% include header.html %}</div>
        <div id="content">
            <div id="sidebar">{% include sidenav.html %}</div>
            <div id="main">
                <h2>Bioinformatics Day 4</h2>
                <table>
                    <caption>Agenda</caption>
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Slides</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gene List analysis (for mouse) using MGI Batch Query and MouseMine</td>
                            <td><a href="GeneList_ShortCoursePresentations2014.pptx" title="Gene List Slides"><img src="../assets/pptx.png" /></a>&nbsp;&nbsp;<a href="GeneList_ShortCoursePresentations2014.pdf" title="Data Management PDF"><img src="../assets/pdf.png" /></a></td>
                        </tr>
                        <tr>
                            <td>Human-Mouse Disease Connection tutorial</td>
                            <td><a href="HMDC_ShortCourse_2014.pptx" title="Human-Mouse Disease Connection Slides"><img src="../assets/pptx.png" /></a>&nbsp;&nbsp;<a href="HMDC_ShortCourse_2014.pdf" title="Human-Mouse Disease Connection PDF"><img src="../assets/pdf.png" /></a></td>
                        </tr>
                        <tr>
                            <td>Analysis in Galaxy</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <p>Exercises and Examples</p>
            </div>
        </div>
        <div class="cleaner"> </div>
        <div id="footer">Page last updated: <span id="date"></span></div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
        <script type="text/javascript">
            var d=new Date(document.lastModified)
            d1=jQuery.datepicker.formatDate('dd-mm-yy', d)
            jQuery("#date").append(d1)
        </script>

    </body>
</html>
